
/* label color */
/*.input-field label {*/
    /*color: #000;*/
/*}*/

/* label focus color */
.input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label {
    color: #558B2F !important;
}

/* label underline focus color */
.input-field input[type=text]:focus , .input-field input[type=password]:focus {
    border-bottom: 1px solid #558B2F !important;
    box-shadow: 0 1px 0 0 #558B2F  !important;
}

/* valid color */
/*.input-field input[type=text].valid {*/
/*    border-bottom: 1px solid #000;*/
/*    box-shadow: 0 1px 0 0 #000;*/
/*}*/

/* invalid color */
/*.input-field input[type=text].invalid {*/
/*    border-bottom: 1px solid #000;*/
/*    box-shadow: 0 1px 0 0 #000;*/
/*}*/

/* icon prefix focus color */
/*.input-field .prefix.active {*/
/*    color: #000;*/
/*}*/

.alert {
    display: flex;
}

.alert > span {
    margin-left: 10px;
}


[type="checkbox"]:checked + span:not(.lever):before {
    border-right: 2px solid #558B2F !important;
    border-bottom: 2px solid #558B2F !important;
}