.tabs .tab a {
    color: rgba(85, 139, 47, 0.7);
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: color .28s ease, background-color .28s ease;
    transition: color .28s ease, background-color .28s ease;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(85, 139, 47, 0.2);
    outline: none;
}

.tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color:  #558B2F;
}

.tabs .tab.disabled a,
.tabs .tab.disabled a:hover {
    color: rgba(85, 139, 47, 0.4);
    cursor: default;
}

.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #558B2F;
    will-change: left, right;
}

/* label focus color */
.input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label {
    color: #558B2F !important;
}

/* label underline focus color */
.input-field input[type=text]:focus , .input-field input[type=password]:focus {
    border-bottom: 1px solid #558B2F !important;
    box-shadow: 0 1px 0 0 #558B2F  !important;
}

.alert {
    display: flex;
}

.alert > span {
    margin-left: 10px;
}